# Hardening Feature: RANDSTRUCT (Structure Layout Randomization)
# Randomizes compile-time layouts of sensitive structures (marked with __randomize_layout or entirely function pointers)
CONFIG_RANDSTRUCT_FULL=y
CONFIG_RANDSTRUCT=y
# CONFIG_RANDSTRUCT_NONE is not set
# CONFIG_RANDSTRUCT_PERFORMANCE is not set
CONFIG_LKDTM=y

