# Feature Disabled: Kernel Structure & Stack Variable Auto-Zeroing (Baseline / Vulnerable)
CONFIG_INIT_STACK_NONE=y
# CONFIG_INIT_STACK_ALL_ZERO is not set
# CONFIG_INIT_STACK_ALL_PATTERN is not set
# CONFIG_GCC_PLUGIN_STRUCTLEAK is not set
# CONFIG_GCC_PLUGIN_STRUCTLEAK_USER is not set
# CONFIG_GCC_PLUGIN_STRUCTLEAK_BYREF is not set
# CONFIG_GCC_PLUGIN_STRUCTLEAK_BYREF_ALL is not set
CONFIG_LKDTM=y

