# Feature: Kernel Structure & Stack Variable Auto-Zeroing (STRUCTLEAK / INIT_STACK_ALL_ZERO)
# Mitigates uninitialized stack variable and struct padding hole information exposure (CVE-2013-2141, CVE-2017-1000410)
CONFIG_INIT_STACK_ALL_ZERO=y
# CONFIG_INIT_STACK_NONE is not set
# CONFIG_INIT_STACK_ALL_PATTERN is not set
CONFIG_GCC_PLUGINS=y
CONFIG_GCC_PLUGIN_STRUCTLEAK=y
CONFIG_GCC_PLUGIN_STRUCTLEAK_BYREF_ALL=y
CONFIG_LKDTM=y

