# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.egg-info/
dist/
build/

# MkDocs
site/
.cache/

# Kernel & Build Artifacts
downloads/
build_dir/
rootfs/
kernel_source/
linux-*/
*.tar.xz
*.tar.gz
*.cpio
*.cpio.gz
*.iso
*.qcow2
*.img

# Editor & OS
.vscode/
.idea/
*.swp
*~
.DS_Store

